<%- include("../_partials/header", {hatter: "hatter"})  %>
<div class="form-container">
    <div class="title">Képfeltöltés</div>
    <form action="/kep" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="photo">Kép:</label>
            <div class="form-control fake-input">
                <div id="fileName"></div>
                <img src="/assets/images/attach.png" class="attach-icon"/>
            </div>
            <input id="fileInput" class="form-control file" type="file" accept="image/jpg" name="photo" required>
        </div>
        <div class="form-group">
            <label for="kep[hely]">Hely:</label>
            <input class="form-control" type="text" name="kep[hely]">
        </div>
        <div class="form-group">
            <label for="kep[mucsali]">Csali:</label>
            <input class="form-control" type="text" name="kep[mucsali]">
        </div>
        <div class="form-group">
            <label for="kep[meret]">Méret:</label>
            <input class="form-control" type="text" name="kep[suly]">
        </div>
        <input type="submit" value="Feltöltés">
    </form>
</div>
<% include ../_partials/footer %>