<% include ../_partials/header %>
<div class="container">
    <div class="flex">
        <div class="page-title">Műcsalik</div>
        <div class="buttons">
            <a class="btn btn-yellow" href="/mucsali/uj">Feltöltés</a>
        </div>
    </div>

    <div class="mucsali-btns">
        <button onclick="show('wobblerek')">Wobblerek</button>
        <button onclick="show('korforgok')">Körforgók</button>
        <button onclick="show('tamolygok')">Támolygók</button>
        <button onclick="show('gumik')">Gumik</button>
    </div>

    <% let counter = 0;
    Object.keys(mucsalik).forEach(function(csoport){ %>
    <div class="korforgok mucsali-block">
    <%
        mucsalik[csoport].forEach(function (mucsali) {
            let halak = mucsali.halak;
            let str = '';
            Object.keys(halak).forEach(function(hal) {
                if(typeof halak[hal] == 'number' || typeof halak[hal] == 'string' && halak[hal] != 0){
                    str += hal+': '+halak[hal]+', ';
                }
            }); %>
        <div class="mucsali-item col-12 col-md-4">
            <div class="title"><a href="mucsali/edit/<%= mucsali._id %>"><%= mucsali.marka+" "+mucsali.tipus %></a></div>
            <div><img src="uploads/mucsalik/<%= mucsali.kepUrl %>" /></div>
            <div class="halak"><%= str.length > 0 ? str.substring(0, str.length - 2) : '' %></div>
        </div>
        <% counter++;
        });
    %>
    </div>
    <% }); %>
</div>
<% include ../_partials/footer %>