<%- include("../_partials/header", {hatter: "hatter"})  %>
<div class="form-container">
    <div class="title">Feltöltés</div>
    <form action="/mucsali" method="POST" enctype="multipart/form-data">
        <div class="flex-group kep">
            <div class="form-group">
                <label for="photo">Kép:</label>
                <div class="form-control fake-input">
                    <div id="fileName"></div>
                    <img src="/assets/images/attach.png" class="attach-icon"/>
                </div>
                <input id="fileInput" class="form-control file" type="file" accept="image/jpg" name="photo" required>
            </div>
            <div class="form-group">
                <label for="sorszam">Sorszám:</label>
                <input class="form-control sm" type="text" name="mucsali[sorszam]">
            </div>
        </div>
        <div class="form-group">
            <label for="mucsali[csoport]">Csoport:</label>
            <select class="form-control" name="mucsali[csoport]">
                <option value="Körforgó">Körforgó</option>
                <option value="Gumi">Gumi</option>
                <option value="Támolygó">Támolygó</option>
                <option value="Wobbler">Wobbler</option>
            </select>
        </div>
        <div class="form-group">
            <label for="mucsali[marka]">Márka:</label>
            <input class="form-control" type="text" name="mucsali[marka]">
        </div>
        <div class="form-group">
            <label for="mucsali[tipus]">Típus:</label>
            <input class="form-control" type="text" name="mucsali[tipus]">
        </div>
        <div class="flex-group">
            <div class="form-group">
            <label for="halak[bal]">Balin:</label>
            <input class="form-control sm" type="text" name="halak[bal]">
            </div>

            <div class="form-group">
            <label for="halak[bod]">Bodorka:</label>
            <input class="form-control sm" type="text" name="halak[bod]">
            </div>
        </div>

        <div class="flex-group">
            <div class="form-group">
            <label for="halak[cs]">Csuka:</label>
            <input class="form-control sm" type="text" name="halak[cs]">
            </div>

            <div class="form-group">
            <label for="halak[dom]">Domolykó:</label>
            <input class="form-control sm" type="text" name="halak[dom]">
            </div>
        </div>

        <div class="flex-group">
            <div class="form-group">
            <label for="halak[har]">Harcsa:</label>
            <input class="form-control sm" type="text" name="halak[har]">
            </div>

            <div class="form-group">
            <label for="halak[sug]">Sügér:</label>
            <input class="form-control sm" type="text" name="halak[sug]">
            </div>
        </div>

        <div class="flex-group">
            <div class="form-group">
            <label for="halak[sul]">Süllő:</label>
            <input class="form-control sm" type="text" name="halak[sul]">
            </div>

            <div class="form-group">
            <label for="halak[th]">Törpeharcsa:</label>
            <input class="form-control sm" type="text" name="halak[th]">
            </div>
        </div>

        <div class="flex-group">
            <div class="form-group">
            <label for="halak[vor]">Vörösszarnyú:</label>
            <input class="form-control sm" type="text" name="halak[vor]">
            </div>
        </div>
        <div class="form-group">
            <label for="halak[egyeb]">Egyéb:</label>
            <input class="form-control" type="text" name="halak[egyeb]">
        </div>
            <input type="submit" value="Feltöltés">
    </form>
</div>
<% include ../_partials/footer %>